#chvy {
  background-image: url("E:/projects/car-website/client/src/assets/images/chvy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#text-container {
  position: absolute;
  top: 14rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: 600;
}

#text-container h1 {
  margin: 0;
}

#text-container p {
  font-size: 1.25rem;
  font-weight: 400;
}

#gallery {
  background-color: black;
  height: 100vh;
}

/* Mobile Responsive */
@media (min-width: 375px) and (max-width: 425px) {
  #register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
  }
  #signup {
    height: 30rem;
    width: 12rem;
    font-size: 1rem;
    padding: 1rem;
  }
  #signin {
    height: 30rem;
    width: 12rem;
    font-size: 1rem;
    padding: 1rem;
  }
  #signupform {
    height: 30rem;
    width: 11.8rem;
    font-size: 1rem;
    padding: 1rem;
  }
  #signinform {
    height: 30rem;
    width: 11.8rem;
    font-size: 1rem;
    padding: 1rem;
  }
  #inputone {
    width: 10rem;
  }
  #inputtwo {
    width: 10rem;
  }
  #inputthree {
    width: 10rem;
  }
  #inputfour {
    width: 10rem;
  }
  #inputfive {
    width: 10rem;
  }
  #text-container {
    top: 10rem;
    left: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
  }

  #text-container p {
    font-size: 0.75rem;
  }
  #review {
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #set-one,
  #set-two {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #card-one,
  #card-two,
  #card-three,
  #card-four,
  #card-five,
  #card-six {
    width: 20rem; /* Adjust card width for mobile */
    height: auto; /* Adjust card height for mobile */
    font-size: 0.875rem; /* Adjust font size for mobile */
  }

  #card-one p,
  #card-two p,
  #card-three p,
  #card-four p,
  #card-five p,
  #card-six p {
    font-size: 0.75rem; /* Adjust font size of text inside cards for mobile */
  }
}

/* Tablet Responsive */
@media (min-width: 426px) and (max-width: 768px) {
  #signup {
    width: 24rem;
  }
  #signin {
    width: 24rem;
  }
  #signupform {
    width: 24rem;
  }
  #signinform {
    width: 24rem;
  }
  #text-container {
    top: 12rem;
    left: 2rem;
    gap: 1.5rem;
    font-size: 2rem;
  }

  #text-container p {
    font-size: 1rem;
  }
  #review {
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  #set-one,
  #set-two {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  #card-one,
  #card-two,
  #card-three,
  #card-four,
  #card-five,
  #card-six {
    width: 22rem; /* Adjust card width for tablet */
    height: auto; /* Adjust card height for tablet */
    font-size: 1rem; /* Adjust font size for tablet */
  }

  #card-one p,
  #card-two p,
  #card-three p,
  #card-four p,
  #card-five p,
  #card-six p {
    font-size: 0.875rem; /* Adjust font size of text inside cards for tablet */
  }
}
